@model Center

<form asp-controller="center" asp-action="add" method="post">
    <div>
        <label class=" form-label" asp-for="CenterName"></label>
        <input class="form-control" type="text" asp-for="CenterName">
    </div>
    <div>
        <label class=" form-label" asp-for="ContactNumber"></label>
        <input class="form-control" type="text" asp-for="ContactNumber">
    </div>    <div>
        <label class=" form-label" asp-for="Email"></label>
        <input class="form-control" type="text" asp-for="Email">
    </div>
    <div>
        <label class=" form-label" asp-for="CenterStatus"></label>
        <input class="form-control" type="text" asp-for="CenterStatus">
    </div>
    <div>
        <label class=" form-label" asp-for="Country"></label>
        <input class="form-control" type="text" asp-for="Country">
    </div>
    <div>
        <label class=" form-label" asp-for="Governorate"></label>
        <input class="form-control" type="text" asp-for="Governorate">
    </div>
    <div>
        <label class=" form-label" asp-for="City"></label>
        <input class="form-control" type="text" asp-for="City">
    </div>
    <div>
        <label class=" form-label" asp-for="Street"></label>
        <input class="form-control" type="text" asp-for="Street">
    </div>
    <input class="btn btn-primary mt-4" asp-controller="center" asp-action="index" type="submit" value="Add" />

</form>
