<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/components.css" />
    @RenderSection("styles", false)
    <title>@RenderSection("viewTitle", false)</title>
</head>
<body>
    <!-- Nav Bar -->
    <nav class="nav d-flex align-items-center">
        <div class="container d-flex justify-content-end gap-2 p-0">
            <div class="profile-img me-4">
                <a href="#" class="fw-bold ">
                    Logout
                </a>
            </div>
        </div>
        </div>
    </nav>
    <!-- Side Bar -->
    <aside class="side-bar d-flex flex-column justify-content-between m-0 p-0">
        <a class="navbar-brand fw-bold mt-1 align-self-center" href="#">Dorak</a>
        <ul class="d-block flex-grow-1 gap-5 m-0 p-0 ms-4 mt-4">
            <li class="mb-2">
                <a asp-controller="center" asp-action="index">
                    <div class="patient-queue-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30"
                             height="30" viewBox="0 0 640 512">
                            <path d="M0 48C0 21.5 21.5 0 48 0L336 0c26.5 0 48 21.5 48 48l0 184.2c-39.1 32.3-64 81.1-64 135.8c0 49.5 20.4 94.2 53.3 126.2C364.5 505.1 351.1 512 336 512l-96 0 0-80c0-26.5-21.5-48-48-48s-48 21.5-48 48l0 80-96 0c-26.5 0-48-21.5-48-48L0 48zM80 224c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm80 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm112-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 112l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16L80 96c-8.8 0-16 7.2-16 16zM176 96c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm80 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm96 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm140.7-67.3c-6.2 6.2-6.2 16.4 0 22.6L521.4 352 432 352c-8.8 0-16 7.2-16 16s7.2 16 16 16l89.4 0-28.7 28.7c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0l56-56c6.2-6.2 6.2-16.4 0-22.6l-56-56c-6.2-6.2-16.4-6.2-22.6 0z" />
                        </svg>
                    </div>
                    Manage Centers
                </a>
            </li>
            <li class="mb-2">
                <a asp-controller="center" asp-action="index">
                    <div class="patient-queue-icon">
                        <svg width="30"
                             height="30"
                             viewBox="0 0 35 35"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.5212 0.729187C22.154 0.729187 20.9901 1.28126 20.2428 2.12201C19.4954 2.96275 19.1462 4.04082 19.1462 5.10419C19.1462 6.16755 19.4954 7.24562 20.2428 8.08636C20.9901 8.92711 22.154 9.47919 23.5212 9.47919C24.8883 9.47919 26.0522 8.92711 26.7996 8.08636C27.5469 7.24562 27.8962 6.16755 27.8962 5.10419C27.8962 4.04082 27.5469 2.96275 26.7996 2.12201C26.0522 1.28126 24.8883 0.729187 23.5212 0.729187ZM23.5212 2.91669C24.3415 2.91669 24.8182 3.18492 25.1646 3.57465C25.5111 3.96437 25.7087 4.52693 25.7087 5.10419C25.7087 5.68144 25.5111 6.244 25.1646 6.63373C24.8182 7.02345 24.3415 7.29169 23.5212 7.29169C22.7008 7.29169 22.2241 7.02345 21.8777 6.63373C21.5313 6.244 21.3337 5.68144 21.3337 5.10419C21.3337 4.52693 21.5313 3.96437 21.8777 3.57465C22.2241 3.18492 22.7008 2.91669 23.5212 2.91669ZM15.5003 8.02085C14.1331 8.02085 12.9693 8.57293 12.2219 9.41368C11.4746 10.2544 11.1253 11.3325 11.1253 12.3959C11.1253 13.4592 11.4746 14.5373 12.2219 15.378C12.9693 16.2188 14.1331 16.7709 15.5003 16.7709C16.8675 16.7709 18.0314 16.2188 18.7787 15.378C19.5261 14.5373 19.8753 13.4592 19.8753 12.3959C19.8753 11.3325 19.5261 10.2544 18.7787 9.41368C18.0314 8.57293 16.8675 8.02085 15.5003 8.02085ZM15.5003 10.2084C16.3206 10.2084 16.7974 10.4766 17.1438 10.8663C17.4902 11.256 17.6878 11.8186 17.6878 12.3959C17.6878 12.9731 17.4902 13.5357 17.1438 13.9254C16.7974 14.3151 16.3206 14.5834 15.5003 14.5834C14.68 14.5834 14.2033 14.3151 13.8569 13.9254C13.5104 13.5357 13.3128 12.9731 13.3128 12.3959C13.3128 11.8186 13.5104 11.256 13.8569 10.8663C14.2033 10.4766 14.68 10.2084 15.5003 10.2084ZM21.1514 10.9375C21.268 11.4042 21.3337 11.8927 21.3337 12.3959C21.3337 12.6438 21.3187 12.8844 21.2895 13.125H27.5316C27.7357 13.125 27.8962 13.2854 27.8962 13.4896V15.3125C27.8962 16.3479 26.0222 17.5 23.5212 17.5C22.6024 17.5 21.7643 17.3394 21.0716 17.0842C22.1799 17.5581 23.0392 18.5136 23.3673 19.6875H23.5212C27.2034 19.6875 30.0837 17.7625 30.0837 15.3125V13.4896C30.0837 12.0823 28.9389 10.9375 27.5316 10.9375H21.1514ZM7.47949 15.3125C6.1123 15.3125 4.94842 15.8646 4.20109 16.7053C3.45376 17.5461 3.10449 18.6242 3.10449 19.6875C3.10449 20.7509 3.45376 21.829 4.20109 22.6697C4.94842 23.5104 6.1123 24.0625 7.47949 24.0625C8.84668 24.0625 10.0106 23.5104 10.7579 22.6697C11.5052 21.829 11.8545 20.7509 11.8545 19.6875C11.8545 18.6242 11.5052 17.5461 10.7579 16.7053C10.0106 15.8646 8.84668 15.3125 7.47949 15.3125ZM7.47949 17.5C8.2998 17.5 8.77655 17.7683 9.12296 18.158C9.46939 18.5477 9.66699 19.1103 9.66699 19.6875C9.66699 20.2648 9.46939 20.8273 9.12296 21.2171C8.77655 21.6068 8.2998 21.875 7.47949 21.875C6.65918 21.875 6.18244 21.6068 5.83602 21.2171C5.4896 20.8273 5.29199 20.2648 5.29199 19.6875C5.29199 19.1103 5.4896 18.5477 5.83602 18.158C6.18244 17.7683 6.65918 17.5 7.47949 17.5ZM13.1305 18.2292C13.2472 18.6959 13.3128 19.1844 13.3128 19.6875C13.3128 19.9354 13.2978 20.1761 13.2687 20.4167H19.5107C19.7149 20.4167 19.8753 20.5771 19.8753 20.7813V22.6042C19.8753 23.6396 18.0014 24.7917 15.5003 24.7917C14.5816 24.7917 13.7435 24.631 13.0508 24.3758C14.1591 24.8498 15.0184 25.8052 15.3465 26.9792H15.5003C19.1826 26.9792 22.0628 25.0542 22.0628 22.6042V20.7813C22.0628 19.374 20.918 18.2292 19.5107 18.2292H13.1305ZM3.46908 25.5209C2.07275 25.5209 0.916992 26.6766 0.916992 28.0729V29.8959C0.916992 31.2945 1.85027 32.4342 3.05037 33.1543C4.25048 33.8744 5.79203 34.2709 7.47949 34.2709C9.16696 34.2709 10.7085 33.8744 11.9086 33.1543C13.1087 32.4342 14.042 31.2945 14.042 29.8959V28.0729C14.042 26.6766 12.8862 25.5209 11.4899 25.5209H3.46908ZM3.46908 27.7084H11.4899C11.705 27.7084 11.8545 27.8578 11.8545 28.0729V29.8959C11.8545 30.3092 11.5627 30.8112 10.7835 31.2787C10.0043 31.7463 8.81223 32.0834 7.47949 32.0834C6.14675 32.0834 4.95467 31.7463 4.17546 31.2787C3.39624 30.8112 3.10449 30.3092 3.10449 29.8959V28.0729C3.10449 27.8578 3.25394 27.7084 3.46908 27.7084Z"
                                  fill="#ECF0F1" />
                        </svg>
                    </div>
                    Manage Operators
                </a>
            </li>
            <li class="mb-2">
                <a asp-controller="center" asp-action="index">
                    <div class="patient-queue-icon">
                        <svg width="30"
                             height="30"
                             viewBox="0 0 35 35"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.5212 0.729187C22.154 0.729187 20.9901 1.28126 20.2428 2.12201C19.4954 2.96275 19.1462 4.04082 19.1462 5.10419C19.1462 6.16755 19.4954 7.24562 20.2428 8.08636C20.9901 8.92711 22.154 9.47919 23.5212 9.47919C24.8883 9.47919 26.0522 8.92711 26.7996 8.08636C27.5469 7.24562 27.8962 6.16755 27.8962 5.10419C27.8962 4.04082 27.5469 2.96275 26.7996 2.12201C26.0522 1.28126 24.8883 0.729187 23.5212 0.729187ZM23.5212 2.91669C24.3415 2.91669 24.8182 3.18492 25.1646 3.57465C25.5111 3.96437 25.7087 4.52693 25.7087 5.10419C25.7087 5.68144 25.5111 6.244 25.1646 6.63373C24.8182 7.02345 24.3415 7.29169 23.5212 7.29169C22.7008 7.29169 22.2241 7.02345 21.8777 6.63373C21.5313 6.244 21.3337 5.68144 21.3337 5.10419C21.3337 4.52693 21.5313 3.96437 21.8777 3.57465C22.2241 3.18492 22.7008 2.91669 23.5212 2.91669ZM15.5003 8.02085C14.1331 8.02085 12.9693 8.57293 12.2219 9.41368C11.4746 10.2544 11.1253 11.3325 11.1253 12.3959C11.1253 13.4592 11.4746 14.5373 12.2219 15.378C12.9693 16.2188 14.1331 16.7709 15.5003 16.7709C16.8675 16.7709 18.0314 16.2188 18.7787 15.378C19.5261 14.5373 19.8753 13.4592 19.8753 12.3959C19.8753 11.3325 19.5261 10.2544 18.7787 9.41368C18.0314 8.57293 16.8675 8.02085 15.5003 8.02085ZM15.5003 10.2084C16.3206 10.2084 16.7974 10.4766 17.1438 10.8663C17.4902 11.256 17.6878 11.8186 17.6878 12.3959C17.6878 12.9731 17.4902 13.5357 17.1438 13.9254C16.7974 14.3151 16.3206 14.5834 15.5003 14.5834C14.68 14.5834 14.2033 14.3151 13.8569 13.9254C13.5104 13.5357 13.3128 12.9731 13.3128 12.3959C13.3128 11.8186 13.5104 11.256 13.8569 10.8663C14.2033 10.4766 14.68 10.2084 15.5003 10.2084ZM21.1514 10.9375C21.268 11.4042 21.3337 11.8927 21.3337 12.3959C21.3337 12.6438 21.3187 12.8844 21.2895 13.125H27.5316C27.7357 13.125 27.8962 13.2854 27.8962 13.4896V15.3125C27.8962 16.3479 26.0222 17.5 23.5212 17.5C22.6024 17.5 21.7643 17.3394 21.0716 17.0842C22.1799 17.5581 23.0392 18.5136 23.3673 19.6875H23.5212C27.2034 19.6875 30.0837 17.7625 30.0837 15.3125V13.4896C30.0837 12.0823 28.9389 10.9375 27.5316 10.9375H21.1514ZM7.47949 15.3125C6.1123 15.3125 4.94842 15.8646 4.20109 16.7053C3.45376 17.5461 3.10449 18.6242 3.10449 19.6875C3.10449 20.7509 3.45376 21.829 4.20109 22.6697C4.94842 23.5104 6.1123 24.0625 7.47949 24.0625C8.84668 24.0625 10.0106 23.5104 10.7579 22.6697C11.5052 21.829 11.8545 20.7509 11.8545 19.6875C11.8545 18.6242 11.5052 17.5461 10.7579 16.7053C10.0106 15.8646 8.84668 15.3125 7.47949 15.3125ZM7.47949 17.5C8.2998 17.5 8.77655 17.7683 9.12296 18.158C9.46939 18.5477 9.66699 19.1103 9.66699 19.6875C9.66699 20.2648 9.46939 20.8273 9.12296 21.2171C8.77655 21.6068 8.2998 21.875 7.47949 21.875C6.65918 21.875 6.18244 21.6068 5.83602 21.2171C5.4896 20.8273 5.29199 20.2648 5.29199 19.6875C5.29199 19.1103 5.4896 18.5477 5.83602 18.158C6.18244 17.7683 6.65918 17.5 7.47949 17.5ZM13.1305 18.2292C13.2472 18.6959 13.3128 19.1844 13.3128 19.6875C13.3128 19.9354 13.2978 20.1761 13.2687 20.4167H19.5107C19.7149 20.4167 19.8753 20.5771 19.8753 20.7813V22.6042C19.8753 23.6396 18.0014 24.7917 15.5003 24.7917C14.5816 24.7917 13.7435 24.631 13.0508 24.3758C14.1591 24.8498 15.0184 25.8052 15.3465 26.9792H15.5003C19.1826 26.9792 22.0628 25.0542 22.0628 22.6042V20.7813C22.0628 19.374 20.918 18.2292 19.5107 18.2292H13.1305ZM3.46908 25.5209C2.07275 25.5209 0.916992 26.6766 0.916992 28.0729V29.8959C0.916992 31.2945 1.85027 32.4342 3.05037 33.1543C4.25048 33.8744 5.79203 34.2709 7.47949 34.2709C9.16696 34.2709 10.7085 33.8744 11.9086 33.1543C13.1087 32.4342 14.042 31.2945 14.042 29.8959V28.0729C14.042 26.6766 12.8862 25.5209 11.4899 25.5209H3.46908ZM3.46908 27.7084H11.4899C11.705 27.7084 11.8545 27.8578 11.8545 28.0729V29.8959C11.8545 30.3092 11.5627 30.8112 10.7835 31.2787C10.0043 31.7463 8.81223 32.0834 7.47949 32.0834C6.14675 32.0834 4.95467 31.7463 4.17546 31.2787C3.39624 30.8112 3.10449 30.3092 3.10449 29.8959V28.0729C3.10449 27.8578 3.25394 27.7084 3.46908 27.7084Z"
                                  fill="#ECF0F1" />
                        </svg>
                    </div>
                    Manage Admins Center
                </a>
            </li>
            <li class="mb-2">
                <a asp-controller="provider" asp-action="index">
                    <div class="schedule-icon">
                        <svg width="30"
                             height="30"
                             viewBox="0 0 35 35"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.29167 30.0833C2.48958 30.0833 1.80295 29.7977 1.23177 29.2266C0.66059 28.6554 0.375 27.9687 0.375 27.1667V6.74999C0.375 5.94791 0.66059 5.26127 1.23177 4.69009C1.80295 4.11891 2.48958 3.83332 3.29167 3.83332H4.75V0.916656H7.66667V3.83332H19.3333V0.916656H22.25V3.83332H23.7083C24.5104 3.83332 25.197 4.11891 25.7682 4.69009C26.3394 5.26127 26.625 5.94791 26.625 6.74999V27.1667C26.625 27.9687 26.3394 28.6554 25.7682 29.2266C25.197 29.7977 24.5104 30.0833 23.7083 30.0833H3.29167ZM3.29167 27.1667H23.7083V12.5833H3.29167V27.1667ZM3.29167 9.66666H23.7083V6.74999H3.29167V9.66666ZM13.5 18.4167C13.0868 18.4167 12.7405 18.2769 12.4609 17.9974C12.1814 17.7179 12.0417 17.3715 12.0417 16.9583C12.0417 16.5451 12.1814 16.1988 12.4609 15.9193C12.7405 15.6397 13.0868 15.5 13.5 15.5C13.9132 15.5 14.2595 15.6397 14.5391 15.9193C14.8186 16.1988 14.9583 16.5451 14.9583 16.9583C14.9583 17.3715 14.8186 17.7179 14.5391 17.9974C14.2595 18.2769 13.9132 18.4167 13.5 18.4167ZM7.66667 18.4167C7.25347 18.4167 6.90712 18.2769 6.6276 17.9974C6.34809 17.7179 6.20833 17.3715 6.20833 16.9583C6.20833 16.5451 6.34809 16.1988 6.6276 15.9193C6.90712 15.6397 7.25347 15.5 7.66667 15.5C8.07986 15.5 8.42622 15.6397 8.70573 15.9193C8.98524 16.1988 9.125 16.5451 9.125 16.9583C9.125 17.3715 8.98524 17.7179 8.70573 17.9974C8.42622 18.2769 8.07986 18.4167 7.66667 18.4167ZM19.3333 18.4167C18.9201 18.4167 18.5738 18.2769 18.2943 17.9974C18.0148 17.7179 17.875 17.3715 17.875 16.9583C17.875 16.5451 18.0148 16.1988 18.2943 15.9193C18.5738 15.6397 18.9201 15.5 19.3333 15.5C19.7465 15.5 20.0929 15.6397 20.3724 15.9193C20.6519 16.1988 20.7917 16.5451 20.7917 16.9583C20.7917 17.3715 20.6519 17.7179 20.3724 17.9974C20.0929 18.2769 19.7465 18.4167 19.3333 18.4167ZM13.5 24.25C13.0868 24.25 12.7405 24.1102 12.4609 23.8307C12.1814 23.5512 12.0417 23.2048 12.0417 22.7917C12.0417 22.3785 12.1814 22.0321 12.4609 21.7526C12.7405 21.4731 13.0868 21.3333 13.5 21.3333C13.9132 21.3333 14.2595 21.4731 14.5391 21.7526C14.8186 22.0321 14.9583 22.3785 14.9583 22.7917C14.9583 23.2048 14.8186 23.5512 14.5391 23.8307C14.2595 24.1102 13.9132 24.25 13.5 24.25ZM7.66667 24.25C7.25347 24.25 6.90712 24.1102 6.6276 23.8307C6.34809 23.5512 6.20833 23.2048 6.20833 22.7917C6.20833 22.3785 6.34809 22.0321 6.6276 21.7526C6.90712 21.4731 7.25347 21.3333 7.66667 21.3333C8.07986 21.3333 8.42622 21.4731 8.70573 21.7526C8.98524 22.0321 9.125 22.3785 9.125 22.7917C9.125 23.2048 8.98524 23.5512 8.70573 23.8307C8.42622 24.1102 8.07986 24.25 7.66667 24.25ZM19.3333 24.25C18.9201 24.25 18.5738 24.1102 18.2943 23.8307C18.0148 23.5512 17.875 23.2048 17.875 22.7917C17.875 22.3785 18.0148 22.0321 18.2943 21.7526C18.5738 21.4731 18.9201 21.3333 19.3333 21.3333C19.7465 21.3333 20.0929 21.4731 20.3724 21.7526C20.6519 22.0321 20.7917 22.3785 20.7917 22.7917C20.7917 23.2048 20.6519 23.5512 20.3724 23.8307C20.0929 24.1102 19.7465 24.25 19.3333 24.25Z"
                                  fill="#ECF0F1" />
                        </svg>
                    </div>
                    Manage Providers
                </a>
            </li>
            <li class="mb-2">
                <a asp-controller="client" asp-action="index">
                    <div class="reports-icon">
                        <svg width="30"
                             height="30"
                             viewBox="0 0 35 35"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.5212 0.729187C22.154 0.729187 20.9901 1.28126 20.2428 2.12201C19.4954 2.96275 19.1462 4.04082 19.1462 5.10419C19.1462 6.16755 19.4954 7.24562 20.2428 8.08636C20.9901 8.92711 22.154 9.47919 23.5212 9.47919C24.8883 9.47919 26.0522 8.92711 26.7996 8.08636C27.5469 7.24562 27.8962 6.16755 27.8962 5.10419C27.8962 4.04082 27.5469 2.96275 26.7996 2.12201C26.0522 1.28126 24.8883 0.729187 23.5212 0.729187ZM23.5212 2.91669C24.3415 2.91669 24.8182 3.18492 25.1646 3.57465C25.5111 3.96437 25.7087 4.52693 25.7087 5.10419C25.7087 5.68144 25.5111 6.244 25.1646 6.63373C24.8182 7.02345 24.3415 7.29169 23.5212 7.29169C22.7008 7.29169 22.2241 7.02345 21.8777 6.63373C21.5313 6.244 21.3337 5.68144 21.3337 5.10419C21.3337 4.52693 21.5313 3.96437 21.8777 3.57465C22.2241 3.18492 22.7008 2.91669 23.5212 2.91669ZM15.5003 8.02085C14.1331 8.02085 12.9693 8.57293 12.2219 9.41368C11.4746 10.2544 11.1253 11.3325 11.1253 12.3959C11.1253 13.4592 11.4746 14.5373 12.2219 15.378C12.9693 16.2188 14.1331 16.7709 15.5003 16.7709C16.8675 16.7709 18.0314 16.2188 18.7787 15.378C19.5261 14.5373 19.8753 13.4592 19.8753 12.3959C19.8753 11.3325 19.5261 10.2544 18.7787 9.41368C18.0314 8.57293 16.8675 8.02085 15.5003 8.02085ZM15.5003 10.2084C16.3206 10.2084 16.7974 10.4766 17.1438 10.8663C17.4902 11.256 17.6878 11.8186 17.6878 12.3959C17.6878 12.9731 17.4902 13.5357 17.1438 13.9254C16.7974 14.3151 16.3206 14.5834 15.5003 14.5834C14.68 14.5834 14.2033 14.3151 13.8569 13.9254C13.5104 13.5357 13.3128 12.9731 13.3128 12.3959C13.3128 11.8186 13.5104 11.256 13.8569 10.8663C14.2033 10.4766 14.68 10.2084 15.5003 10.2084ZM21.1514 10.9375C21.268 11.4042 21.3337 11.8927 21.3337 12.3959C21.3337 12.6438 21.3187 12.8844 21.2895 13.125H27.5316C27.7357 13.125 27.8962 13.2854 27.8962 13.4896V15.3125C27.8962 16.3479 26.0222 17.5 23.5212 17.5C22.6024 17.5 21.7643 17.3394 21.0716 17.0842C22.1799 17.5581 23.0392 18.5136 23.3673 19.6875H23.5212C27.2034 19.6875 30.0837 17.7625 30.0837 15.3125V13.4896C30.0837 12.0823 28.9389 10.9375 27.5316 10.9375H21.1514ZM7.47949 15.3125C6.1123 15.3125 4.94842 15.8646 4.20109 16.7053C3.45376 17.5461 3.10449 18.6242 3.10449 19.6875C3.10449 20.7509 3.45376 21.829 4.20109 22.6697C4.94842 23.5104 6.1123 24.0625 7.47949 24.0625C8.84668 24.0625 10.0106 23.5104 10.7579 22.6697C11.5052 21.829 11.8545 20.7509 11.8545 19.6875C11.8545 18.6242 11.5052 17.5461 10.7579 16.7053C10.0106 15.8646 8.84668 15.3125 7.47949 15.3125ZM7.47949 17.5C8.2998 17.5 8.77655 17.7683 9.12296 18.158C9.46939 18.5477 9.66699 19.1103 9.66699 19.6875C9.66699 20.2648 9.46939 20.8273 9.12296 21.2171C8.77655 21.6068 8.2998 21.875 7.47949 21.875C6.65918 21.875 6.18244 21.6068 5.83602 21.2171C5.4896 20.8273 5.29199 20.2648 5.29199 19.6875C5.29199 19.1103 5.4896 18.5477 5.83602 18.158C6.18244 17.7683 6.65918 17.5 7.47949 17.5ZM13.1305 18.2292C13.2472 18.6959 13.3128 19.1844 13.3128 19.6875C13.3128 19.9354 13.2978 20.1761 13.2687 20.4167H19.5107C19.7149 20.4167 19.8753 20.5771 19.8753 20.7813V22.6042C19.8753 23.6396 18.0014 24.7917 15.5003 24.7917C14.5816 24.7917 13.7435 24.631 13.0508 24.3758C14.1591 24.8498 15.0184 25.8052 15.3465 26.9792H15.5003C19.1826 26.9792 22.0628 25.0542 22.0628 22.6042V20.7813C22.0628 19.374 20.918 18.2292 19.5107 18.2292H13.1305ZM3.46908 25.5209C2.07275 25.5209 0.916992 26.6766 0.916992 28.0729V29.8959C0.916992 31.2945 1.85027 32.4342 3.05037 33.1543C4.25048 33.8744 5.79203 34.2709 7.47949 34.2709C9.16696 34.2709 10.7085 33.8744 11.9086 33.1543C13.1087 32.4342 14.042 31.2945 14.042 29.8959V28.0729C14.042 26.6766 12.8862 25.5209 11.4899 25.5209H3.46908ZM3.46908 27.7084H11.4899C11.705 27.7084 11.8545 27.8578 11.8545 28.0729V29.8959C11.8545 30.3092 11.5627 30.8112 10.7835 31.2787C10.0043 31.7463 8.81223 32.0834 7.47949 32.0834C6.14675 32.0834 4.95467 31.7463 4.17546 31.2787C3.39624 30.8112 3.10449 30.3092 3.10449 29.8959V28.0729C3.10449 27.8578 3.25394 27.7084 3.46908 27.7084Z"
                                  fill="#ECF0F1" />
                        </svg>
                    </div>
                    Manage Clients
                </a>
            </li>
            <li class="mb-2">
                <a asp-controller="Role" asp-action="Add">
                    <div class="reports-icon">
                        <svg width="30"
                             height="30"
                             viewBox="0 0 35 35"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.333 24.1667V13.9583H24.1663V24.1667H18.333ZM9.58301 24.1667V0.833344H15.4163V24.1667H9.58301ZM0.833008 24.1667V8.12501H6.66634V24.1667H0.833008Z"
                                  fill="#ECF0F1" />
                        </svg>
                    </div>
                    Roles
                </a>
            </li>
        </ul>
    </aside>
    <!-- Main -->
    <main>
        <div class="container pt-4 pb-4 pe-0 ps-0">
            @RenderBody()
        </div>
    </main>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/components.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
