@model List<RoleViewModel>
@{
    int roleId = 0;
}

@section styles {
    <link rel="stylesheet" href="~/css/components.css" />
    <link rel="stylesheet" href="~/css/TableLayout.css" />
}

<h1>Roles</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            roleId++;
            <tr>
                <td>@roleId</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Edit" asp-controller="Role" asp-route-roleName="@item.Name" class="btn btn-secondary">Edit </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Role" asp-route-roleName="@item.Name" class="btn btn-danger">Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.Invalid == 1)
{
    <div class="alert alert-danger w-50" role="alert">
        Sorry Can Not Add This Role !!!!!
    </div>
}
else if (ViewBag.Invalid == 2)
{
    <div class="alert alert-success w-50" role="alert">
        Role Added Succssfully
    </div>
}
<form asp-action="Add" asp-controller="Role">
    <div class="mb-3 ">
        <label class="form-label">Role Name</label>
        <input type="text" class="w-50 form-control" name="roleName" class="w-75">
    </div>
    <input class="btn btn-success text-white mb-4" type="submit" value="Add Role" />
</form>
