@model IdentityRole


<form asp-controller="Role" asp-action="edit" method="post">
    <input class="form-control" asp-for="Id" hidden />
    <input class="form-control" asp-for="Name" />
    <input class="btn btn-info mt-3" type="submit" value="Edit Role" />
</form>